# This file is used for Git repositories to specify intentionally untracked files that Git should ignore. 
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# Salesforce cache
.sf/
.sfdx/
.localdevserver/
deploy-options.json

# LWC VSCode autocomplete
**/lwc/jsconfig.json

# LWC Jest coverage reports
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# ApexPMD cache
.pmdCache

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Local environment variables & secrets
.env
*.env
*.p8
*.key
*.pem
secrets/
**/secrets/
*justice*.json
exalted-justice-*.json
*.zip
assign_permset.apex
check_fls.apex
slack-gemini-agent/dist/
slack-gemini-agent/.env
slack-gemini-agent/.env.local
slack-gemini-agent/snowflake.log
!slack-gemini-agent/.env.example

# Python Salesforce Functions
**/__pycache__/
**/.venv/
**/venv/

